<h1>Listing components</h1>

<table>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
<% @a.each do |version| %>
  <tr>
    <td>
    	<%=h version["component_name"] %>
    </td>
    <td>
    <%=h version["version_num"] %>
    </td>
  </tr>
<% end %>

</table>

